.home-question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-bottom: 50px;
}

.home-question-container p:nth-child(1){
    font-size: 1.9rem;
    text-align: center;
}

.home-question-container p:nth-child(3){
    font-size: 1.07rem;
    text-align: center;
}

.home-question-text-line {
    background-color: white;
    width: 40px;
    height: 1px;
}

.home-question-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    max-width: 30%;
    position: relative;
}

.home-question-container img {
    object-fit: cover;
    max-width: 500px;
    max-height: 300px;
}

.home-question-text-container::after {
    position: absolute;
    content: "";
    top: 20px;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(221, 145, 78, 0.4);
    border-radius: 50px;
    z-index: -1;
    filter: blur(70px)
}