.home-question-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.home-question-container__reverse {
    flex-direction: row-reverse;
}

.home-question-container p:nth-child(1){
    font-size: 1.7rem;
    text-align: center;
}

.home-question-container p:nth-child(3){
    font-size: 0.98rem;
    text-align: center;
}

.home-question-text-line {
    background-color: white;
    width: 40px;
    height: 1px;
}

.home-question-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 40%;
    position: relative;
}

.home-question-container img {
  width: 40%;
}

.home-question-text-container::after {
    position: absolute;
    content: "";
    top: 20px;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(221, 145, 78, 0.4);
    border-radius: 50px;
    z-index: -1;
    filter: blur(70px)
}

@media (max-width:1000px) {
    .home-question-container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .home-question-text-container {
        width: 80%;
    }

    .home-question-container img {
        width: 90%;
    }
}