.leaflet-container {
    width: 100%;
    height: 70vh;
}

.map-filters-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 20px;
}

.single-map-filter-container {
    display: flex;
    align-items: center;
    background-color: var(--lesser-dark);
    width: 200px;
    border-radius: 10px;
    gap: 10px;
    border: 2px solid var(--orange);
    padding: 5px;
    cursor: pointer;
}

.single-map-filter-container svg {
    width: 30px;
}