.leaflet-container {
    width: 100%;
    height: 70vh;
    border-radius: 10px;
}

.map-filters-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 20px;
}

.single-map-filter-container {
    display: flex;
    align-items: center;
    background-color: var(--lesser-dark);
    width: 200px;
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 200ms;
}

.single-map-filter-container:hover {
    opacity: 0.8;
}

.single-map-filter-container img {
    width: 30px;
}

.single-map-filter-container__enabled {
    border: 2px solid greenyellow;
}

.single-map-filter-container__disabled {
    border: 2px solid var(--red);
}

.geolocate-button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

@media (max-width: 500px) {
    .map-filters-container {
        flex-direction: column;
        margin-bottom: 25px;
    }
}

@media (max-width: 830px) {
    .map-filters-container {
        gap: 10px;
        margin-bottom: 25px;
    }
}