header {
    background-color: rgba(217, 217, 217, 0.03);
    position: fixed;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1002;
}

.header-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: white;
    font-size: 1.8rem;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 10px;
    padding: 5px;
}

header h1:hover, header svg:hover {
    background-color: rgba(217, 217, 217, 0.1);
}

.menu-icon-container {
    transition: all 0.2s;
}

header svg {
    width: 55px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s;
}

.menu-extension-container {
    height: 100vh;
    width: 100%;
    position: fixed;
    transform: translateX(100%);
    transition: transform 400ms;
    z-index: 1001;
}

.menu-extension-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 17px;
    height: 80%;
}

.menu-extension-items a{
    color: white;
    font-size: 1.8rem;
}

.menu-extension-items a::after {
    content: "";
    width: 0;
    height: 3px;
    display: block;
    background: white;
    transition: 200ms;
}

.menu-extension-items a:hover::after {
    width: 100%;
}