header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(217, 217, 217, 0.03);
    position: fixed;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 400;
}

header h1 {
    color: white;
    font-size: 1.8rem;
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

header h1:hover {
    background-color: rgba(217, 217, 217, 0.1);
}

header svg {
    width: 55px;
    padding-right: 10px;
}