/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Itim&family=Rubik+Glitch&display=swap');

/* Global variables */
:root {
    --dark: #0E0A17;
    --lesser-dark: #26232C;
    --orange: #DD914F;
    --orange-dark: #AA6D38;
    --brown: #453236;
    --red: #FE4A49;
}

/* Soft reset */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--dark);
}

.font-title {
    font-family: Days One, serif;
}

.font-body {
    font-family: Itim, serif;
}

.font-special {
    font-family: Rubik Glitch, serif;
}

.glow {
    box-shadow: white 0 0 10px;
}