.faq-questions-container {
    margin-bottom: 100px;
}

.faq-question-container {
    margin-bottom: 30px;
    padding: 20px;
    background-color: var(--lesser-dark);
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-question-expand-button {
    top: 20px;
    right: 5px;
    transition: transform 0.5s;
}

.faq-question-container svg {
    width: 25px;
}

.faq-question-container p:nth-child(2) {
    margin-top: 20px;
}