.faq-questions-container {
    margin-bottom: 100px;
}

.faq-question-container {
    margin-bottom: 30px;
    padding: 20px;
    background-color: var(--lesser-dark);
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 200ms;
}

.faq-question-container:hover {
    opacity: 0.85;
}

.faq-question-expand-button {
    top: 20px;
    right: 5px;
    transition: transform 300ms;
}

.faq-question-expand-button__enable {
    transform: rotate(180deg);
}

.faq-question-expand-button__disable {
    transform: rotate(0deg);
}

.faq-question-answer {
    margin-top: 20px;
}

.faq-question-answer__enable {
    display: block;
}

.faq-question-answer__disable {
    display: none;
}

.faq-question-container svg {
    width: 25px;
}