.contact-form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 400px;
    gap: 20px;
}

.contact-form-container input, textarea {
    background-color: var(--lesser-dark);
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1rem;
    padding: 8px 8px 8px 35px;
    width: 100%;
}

.contact-form-container textarea {
    height: 150px;
}

.contact-form-input {
    position: relative;
    width: 100%;
}

.contact-form-input input:focus, .contact-form-input textarea:focus {
    outline: none;
}

.contact-form-input svg {
    position: absolute;
    width: 25px;
    top: 8px;
    left: 8px;
}

.contact-form-container button {
    width: 100%;
}

.contact-form-alert {
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.contact-form-alert__error {
    background-color: rgba(205, 92, 92, 0.5);
    border: 2px solid indianred;
}

.contact-form-alert__success {
    background-color: rgba(50, 205, 50, 0.5);
    border: 2px solid limegreen;
}